<!DOCTYPE html>
<html>

<head>
    <title>myGroceryList</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h4 class="modal-title">Add Grocery Items</h4>
                </div>
                <div class="modal-body">
                    <label>Item</label><Br><input><br>
                    <label>Quantity</label><br><input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg" >Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>My Grocery List</h2>
            </div>
            <div class="col-md-6"><button class="btn btn" id="addButton" data-toggle="modal" data-target="#myModal">add
                    Grocery Item</button></div>
        </div>
        <p>List of Groceries:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>

</html>